#about-me {
    background-color: #000000;
    display: flex;
    font-family: sans-serif;
    color: white;
    width: 100%;
    max-width: 100%;
    border-top: white solid 4px;
}

.first-child,
.second-child {
    width: 50%;
    margin: auto 0;
}

.about-image {
    max-width: 100%;
}

h4 {
    color: tomato;
}

.lets-talk {
    background-color: #000000;
    border: 1px solid tomato;
    padding: 0.3em;
    color: tomato;
    font-weight: bolder;
    border-radius: 4px;
    font-size: 17px;
    margin-top: 0.5em;
}

.about-text {
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 1em;
}