* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background: linear-gradient(to right, #e8ece0 0%, rgba(157, 64, 48, 0.5));
  color: white;
  font-family: sans-serif;
}

/* @media only screen and (min-width: 375px) and (max-width: 768px) {
     body {
         padding: 0.5em;
     }
 }*/

#top-section {
  display: flex;
  width: 100%;
  /* border: 1px solid tomato; */
  justify-content: space-between;
}

/* nav {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-top: 2rem;
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
  nav {
    flex-direction: column;
    justify-content: left;
  }
} */

h1 {
  margin-right: 4em;
  padding-right: 5em;
  margin: 0px;
}

span {
  color: rgba(157, 64, 48, 0.5);
}

ul > li {
  list-style-type: none;
  display: inline;
  margin: 0 auto;
  text-transform: uppercase;
  justify-content: center;
  align-content: center;
}

a.nav-link {
  /* color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px; */
  display: inline;
  /* padding: 3px 10px; */
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
  a.nav-link {
    font-size: 10px;
    display: block;
    padding: 3px 0;
    margin: 0;
  }
}
*/ a.nav-link:hover {
  /* background-color: transparent; */
}

/* a:hover {
  border: 1px solid rgba(157, 64, 48, 0.5);
  padding: 2em 0;
} */

/* contact section */

button#contact-button {
  background-color: #e8ece0;
  border: none;
  padding: 0.1rem 0.5rem;
  color: rgba(157, 64, 48, 0.5);
  font-weight: bold;
  border-radius: 4px;
  font-size: 17px;
  margin-top: 2rem;
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  #contact-button {
    font-size: 16px;
    mheight: ;
    padding: 0.1rem 0.5rem;
  }
}

/*lower section*/
#lower-section {
  width: 100%;
  padding-bottom: 9em;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  #lower-section {
    display: flex;
    flex-direction: column-reverse;
    font-size: 12px;
  }
}

.child1 {
  max-width: 100%;
  /*border: 1px solid tomato;*/
  padding-top: 4em;
  text-align: left;
}

.child2 {
  padding: 0px;
}

/* image sizing */
.child2 {
  width: 100%;
  border-radius: 10px;
  border: 5px solid rgba(157, 64, 48, 0.5);
}

button.download {
  background-color: #e8ece0;
  border: 0.5px solid rgba(157, 64, 48, 0.5);
  padding: 0.3em;
  color: rgba(157, 64, 48, 0.5);
  font-weight: bolder;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 1rem;
}

#about-me {
  display: flex;
  font-family: sans-serif;
  color: white;
  width: 100%;
  padding: 0 3rem;
}

.first-child {
  width: 40%;
  height: 30rem;
}
.second-child {
  width: 60%;
  height: 30rem;
}

.first-child img {
  width: 100%;
  height: 20rem;
}

.about-image {
  width: 50%;
}

h1.h-aboutme {
  text-align: left;
}

h4.about {
  color: tomato;
}

button.lets-talk {
  background-color: #000000;
  border: 1px solid tomato;
  padding: 0.3em;
  color: tomato;
  font-weight: bolder;
  border-radius: 4px;
  font-size: 17px;
  margin-top: 0.5em;
}

.about-text {
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 1em;
  text-align: justify;
}

/* Project Section */
h2 {
  color: tomato;
}

.parentbox {
  /* display: flex; */
  /*border: 1px solid tomato;*/
  /* margin: 0px auto; */
  padding: 0px 3em;
}

h4.project {
  /* text-align: center; */
  color: rgba(157, 64, 48, 0.5);
}

button.readmore {
  background-color: #e8ece0;
  border: 1px solid rgba(157, 64, 48, 0.5);
  padding: 0.5em;
  color: rgba(157, 64, 48, 0.5);
  font-weight: bolder;
  border-radius: 4px;
  font-size: 17px;
  /* margin-top: 8em; */
}

button.hireme {
  background-color: #e8ece0;
  border: 1px solid rgba(157, 64, 48, 0.5);
  padding: 0.2em 0.7em;
  color: rgba(157, 64, 48, 0.5);
  font-weight: bolder;
  border-radius: 4px;
  font-size: 16px;
}

/* Footer Section */
footer {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 9em;
  font-size: 20px;
  text-align: center;
  padding-top: 2em;
  margin-top: 3em;
}

p.text {
  font-size: 20px;
}

.footer-span {
  color: rgba(157, 64, 48, 0.5);
  font-size: 20px;
  /* text-align: center; */
}

/* div.lower-footer {
    text-align: center;
} */

/* Icons Section  */
img.icons {
  width: 30px;
  height: 30px;
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
  img.icons {
    width: 15px;
    height: 15px;
  }
}

/* a {
    margin-right: 0.5em;
    margin-bottom: 1em;
    text-decoration: none;
} */
