 * {
     box-sizing: border-box;
 }

 html {
     scroll-behavior: smooth;
 }

 body {
     max-width: 100%;
     background-color: #000000;
     color: white;
     font-family: sans-serif;
     padding: 2em;
     margin: 0 auto;
 }

 #top-section {
     display: flex;
     width: 100%;
     /* border: 1px solid tomato; */
     justify-content: space-between;
 }

 nav {
     display: flex;
     justify-content: space-between;
     width: 70%;
 }

 h1 {
     margin-right: 4em;
     padding-right: 5em;
     margin: 0px;
 }

 span {
     color: tomato;
 }

 ul>li {
     list-style-type: none;
     display: inline;
     margin: 23px;
     font-size: 30px;
     text-transform: uppercase;
 }

 a.nav-link {
     color: white;
     text-decoration: none;
     font-weight: bold;
     font-size: 12px;
 }

 a.nav-link:hover {
     background-color: transparent;
 }

 ul>li a:hover {
     border: 1px solid tomato;
     padding: 2em 0;
 }

 button.contact-button {
     margin-left: 10em;


 }

 @media screen and (min-width: 375px) and (max-width: 768px) {
     .contact-section {
         margin-left: 0em;
         margin-top: 2em;
     }
 }

 button#contact-button {
     background-color: #000000;
     border: 3px solid tomato;
     padding: 0.1em;
     color: tomato;
     font-weight: bold;
     border-radius: 4px;
     font-size: 17px;
     float
 }

 @media screen and (min-width: 375px) and (max-width: 768px) {
     #contact-button {
         font-size: 16px;
     }
 }

 /*lower section*/
 #lower-section {
     width: 100%;
     padding-bottom: 9em;
     display: flex;
     justify-content: space-between;
 }

 .child1 {
     max-width: 100%;
     /*border: 1px solid tomato;*/
     padding-top: 4em;
     text-align: left;
 }

 .child2 {
     padding: 0px;
 }

 /* image sizing */
 .child2 {
     width: 100%;
     border-radius: 50%;
     border: 4px solid tomato;
 }


 button.download {
     background-color: #000000;
     border: 3px solid tomato;
     padding: 0.3em;
     color: tomato;
     font-weight: bolder;
     border-radius: 4px;
     font-size: 17px;
     margin-top: 2em;
 }