/* Project Section */
#project {
    padding-top: 6em;
}

h2.h-project {
    text-align: center;
}

.parentbox {
    display: flex;
    /*border: 1px solid tomato;*/
    margin: 0px auto;
    padding: 0px 3em;
}

h4.project {
    text-align: center;
    color: tomato;
}

button.readmore {
    background-color: #2f2f1e;
    border: 1px solid tomato;
    padding: 0.5em;
    color: tomato;
    font-weight: bolder;
    border-radius: 4px;
    font-size: 17px;
    margin-top: 8em;
}

button.hireme {
    background-color: #2f2f1e;
    border: 1px solid tomato;
    padding: 0.7em;
    color: tomato;
    font-weight: bolder;
    border-radius: 4px;
    font-size: 20px;
}

/* Footer Section */
footer {
    background-color: #2f2f1e;
    width: 100%;
    height: 10em;
    font-size: 22px;
    text-align: center;
    padding-top: 2em;
    margin-top: 3em;
}

p.text {
    font-size: 24px;
}

.footer-span {
    color: tomato;
    font-size: 24px;
    text-align: center;
}

div.lower-footer {
    text-align: center;
}

/* Icons Section  */
img.icons {
    width: 30px;
    height: 30px;
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
    img.icons {
        width: 15px;
        height: 15px;
    }
}

/* a {
    margin-right: 0.5em;
    margin-bottom: 1em;
    text-decoration: none;
} */