 #service {
     border-top: 4px solid tomato;
     padding-top: 6em;

     text-align: center;
 }

 .box {
     background-color: #2f2f1e;
     width: 30%;
     height: 30em;
     margin: 1em;
     border-top: 4px solid tomato;
     padding-rigth: 4px;
     padding-left: 4px;
     /* text-align: center; */
 }

 .parentbox {
     display: flex;
     /*border: 1px solid tomato;*/
     /* justify-content: space-around; */
 }

 h4 {
     color: tomato;
 }

 .explore {
     background-color: #2f2f1e;
     border: 1px solid tomato;
     padding: 0.5em;
     color: tomato;
     font-weight: bolder;
     border-radius: 4px;
     font-size: 17px;
     margin-top: 8em;
 }