body{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}


/*left-box-stlying-and-cascading*/

#left-box{
    background-color: rgb(12, 12, 87);
    font-size: 60px;
    float: left;
    font-family: century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
    border: black;
    border-width: 1px;
    margin-top: 6px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-left: 15px;
    padding-bottom: 0px;
    width: 25%;
    height: 1000px;
}
h4{
    margin-top: 30px;
    margin-bottom: 0px;
}


.head1{
    font-size: 30px;
    margin-left: 3%;
    margin-top: 0%;

}

.contact-skill-head{
    font-size: 30px;
    font-weight: bold;
    background-color: rgb(5, 5, 36);
    padding-left: 0mm;

    margin-top: 10px;
    margin-left: 0px;
    text-align: left;
}


.contact-body{
    font-size: 21px;

}
.skill-body{
    font-size: 21PX;
}

/*right-box-stlying-and-cascading*/

#right-box{
    background-color: whitesmoke;
    float: right;
    width: 70%;
    height: 1000;
    margin-top: 80px;
}


.head2{
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 0%;
    color: rgb(32, 32, 129);
    

}

.paragragh{
    font-size: 21px;
}