.about_wrapper {
  width: 100%;
  height: 50rem;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: 0 1rem;
  background-color: #fec32b;
  border-bottom: 10px solid #f16725;
  border-top: 10px solid #f16725;
  margin-top: 2rem;
  margin-bottom: 1rem;

  .first_about_child {
    flex-basis: 50%;
    img {
      width: 90%;
    }
  }
  .second_about_child {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #1e1f38;

    h3 {
      color: #f16725;
      padding: 1rem 0;
    }
    p {
      font-size: 14px;
      line-height: 1rem;
    }
    button {
      padding: 0.3rem 1.5rem;
      background-color: #fcfce0;
      border: 1px solid #f16725;
      color: #f16725;
      cursor: pointer;
      border-radius: 4px;
      font-size: 17px;
      margin-top: 2rem;
    }
  }
}

//Tablet Responsive
@media (min-width: 577px) and (max-width: 769px) {
  .about_wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    padding: 0 1rem;
    background-color: #fec32b;
    border-bottom: 10px solid #f16725;
    border-top: 10px solid #f16725;
    margin-top: 2rem;
    margin-bottom: 1rem;

    .first_about_child {
      flex-basis: 50%;
      img {
        width: 90%;
      }
    }
    .second_about_child {
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #1e1f38;

      h3 {
        color: #f16725;
        padding: 1rem 0;
      }
      p {
        line-height: 1rem;
        font-size: 16px;
        line-height: 1.3rem;
        word-spacing: 7px;
        text-align: left;
        color: #698f9c;
      }
      button {
        padding: 0.3rem 1rem;
        background-color: #fcfce0;
        border: 1px solid #f16725;
        color: #f16725;
        cursor: pointer;
        border-radius: 4px;
        font-size: 20px;
        margin-top: 2rem;
      }
    }
  }
}
//Laptop Responsive
@media (min-width: 769px) {
  .about_wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    padding: 0 1rem;
    background-color: #fec32b;
    border-bottom: 10px solid #f16725;
    border-top: 10px solid #f16725;
    margin-top: 2rem;
    margin-bottom: 1rem;

    .first_about_child {
      flex-basis: 50%;
      img {
        width: 90%;
      }
    }
    .second_about_child {
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #1e1f38;

      h3 {
        color: #f16725;
        padding: 1rem 0;
      }
      p {
        line-height: 1rem;
        font-size: 23px;
        line-height: 1.5rem;
        word-spacing: 7px;
        text-align: left;
        color: #698f9c;
      }
      button {
        padding: 0.5rem 2rem;
        background-color: #fcfce0;
        border: 1px solid #f16725;
        color: #f16725;
        cursor: pointer;
        border-radius: 4px;
        font-size: 20px;
        margin-top: 2rem;
      }
    }
  }
}
