@import "var.scss";
.about_wrapper {
  max-width: 100%;
  display: flex;
  padding: 0 4rem;

  .first_about_child {
    flex-basis: 50%;
    img {
      width: 90%;
    }
  }
  .second_about_child {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #1e1f38;

    h3 {
      color: #f16725;
      padding: 1rem 0;
    }
    p {
      font-size: 20px;
      line-height: 2rem;
    }
    button {
      padding: 0.3rem 1.5rem;
      background-color: #fcfce0;
      border: 1px solid #f16725;
      color: #f16725;
      cursor: pointer;
      border-radius: 4px;
      font-size: 17px;
      margin-top: 3rem;
    }
  }
}

//Mobile Responsiveness
@media (max-width: 576px) {
  .about_wrapper {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding: 0 1rem;

    .first_about_child {
      flex-basis: 50%;
      img {
        width: 90%;
      }
    }
    .second_about_child {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #1e1f38;

      h3 {
        color: #f16725;
        padding: 1rem 0;
      }
      p {
        font-size: 14px;
        line-height: 1rem;
      }
      button {
        padding: 0.3rem 1.5rem;
        background-color: #fcfce0;
        border: 1px solid #f16725;
        color: #f16725;
        cursor: pointer;
        border-radius: 4px;
        font-size: 17px;
        margin-top: 2rem;
      }
    }
  }
}
