@import "var.scss";
.certificateSection {
  width: 100%;
  height: 65vh;
  margin: 1rem 0;
  padding: 1rem;
  background: goldenrod;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    font-style: italic;
    text-align: center;
    color: gold;
  }
  img {
    max-width: 30rem;
    height: 80%;
  }
}
