@import "var.scss";

header {
  color: #1e1f38;
  width: 100%;
  height: 5rem;
  display: flex;
  padding: 2rem;
  align-items: center;
  background-color: $header_bg;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  nav {
    width: 70%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    h1 {
      color: #1e1f38;
      span {
        color: #fec32b;
      }
    }
    ul {
      list-style-type: none;
      display: flex;
      li {
        padding: 0.5rem 2rem;
        color: #fcfce0;
        border-radius: 8px;
        text-decoration: none;
        font-size: 20px;
      }
    }
  }
  .contact_btn {
    height: fit-content;
    padding: 0.3rem 1.5rem;
    background-color: #f16725;
    border: none;
    color: #fcfce0;
    font-weight: bold;
    border: 3px solid #fcfce0;
    border-radius: 8px;
    font-size: 20px;
    position: absolute;
    right: 4rem;
  }
}

span {
  color: $span_color;
  height: 100%;
}

//Mobile Responsiveness
@media (max-width: 576px) {
  header {
    color: #1e1f38;
    width: 100%;
    height: 5rem;
    display: flex;
    padding: 2rem 0.3rem;
    align-items: center;
    background-color: $header_bg;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    nav {
      h1 {
        font-size: 18px;
      }
      width: 70%;
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      justify-content: space-between;
      h1 {
        color: #1e1f38;
        span {
          color: #fec32b;
        }
      }
      ul {
        list-style-type: none;
        display: flex;
        li {
          padding: 0.5rem 0.8rem;
          color: #fcfce0;
          text-decoration: none;
          font-size: 13px;
        }
      }
    }
    .contact_btn {
      height: fit-content;
      padding: 0.3rem 0.8rem;
      background-color: #f16725;
      border: none;
      color: #fcfce0;
      font-weight: bold;
      border: 1px solid #fcfce0;
      border-radius: 8px;
      font-size: 14px;
      position: absolute;
      right: 0.2rem;
    }
  }
}

//Tablet Responsive
@media (max-width: 786px) and (min-width: 575px) {
}
