@import "var.scss";
.home_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0 6rem;

  .home_first_child {
    flex-basis: 50%;
    width: 50%;
    color: #1e1f38;

    h3 {
      padding: 1rem 0;
    }
    p {
      font-size: 20px;
      line-height: 2rem;
    }
    button {
      height: fit-content;
      padding: 0.6rem 1.5rem;
      background-color: #f16725;
      border: none;
      color: #fcfce0;
      cursor: pointer;
      border-radius: 4px;
      font-size: 20px;
      position: relative;
      top: 2rem;
    }
  }
  .home_second_child {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    .img_container {
      width: 20rem;
      height: 25rem;
      border: 8px solid $omo_img_bordercolor;
      border-radius: 50px;

      img {
        border-radius: 40px;
        width: 100%;
        height: 100%;
      }
    }
  }
}

//Mobile Responsiveness
@media (max-width: 576px) {
  .home_wrapper {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 7rem;

    width: 100%;
    height: 100vh;
    padding: 0 0.5rem;

    .home_first_child {
      flex-basis: 50%;
      width: 100%;
      color: #1e1f38;
      padding-top: 1rem;
      h3 {
        padding: 1rem 0;
      }
      p {
        font-size: 13px;
        line-height: 1rem;
        text-align: left;
      }
      button {
        height: fit-content;
        padding: 0.6rem 1.5rem;
        background-color: #f16725;
        border: none;
        color: #fcfce0;
        cursor: pointer;
        border-radius: 4px;
        font-size: 14px;
        position: relative;
        top: 2rem;
      }
    }
    .home_second_child {
      flex-basis: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      .img_container {
        width: 20rem;
        height: 25rem;
        border: 8px solid $omo_img_bordercolor;
        border-radius: 50px;

        img {
          border-radius: 40px;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
