$gen_bg_color: #fcfce0;
$header_bg: #f16725;
$span_color: #f16725;
$omo_img_bordercolor: #f16725;
$servicebox_bg: #fcfce0;
$projectbox_bg: #f16725;
$footer_bg: rgb(241, 103, 37, 0.9);
$service_BG: #f16725;
