$gen_bg_color: linear-gradient(to right, #e8ece0 0%, rgba(157, 64, 48, 0.5));
$span_color: rgba(157, 64, 48, 0.5);
$omo_img_bordercolor: rgba(157, 64, 48, 0.5);
$box_bg: rgba(157, 64, 48, 0.1);
$footer_bg: rgba(157, 64, 48, 0.3);
