@import "var.scss";
@import "header.scss";
@import "home.scss";
@import "about.scss";
@import "service.scss";
@import "project.scss";
@import "certificateSection.scss";

@import "footer";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background: $gen_bg_color;
  font-family: sans-serif;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
