/* HOME MEDIA QUERY FOR TABLET AND PHONE */
@media only screen and (min-width: 375px) and (max-width: 768px) {
    body {
        padding: 0.5em;
    }
}

    {
    nav {
        flex-direction: column;
    }
}

    {
    ul>li {
        font-size: 10px;
    }
}

    {
    a.nav-link {
        font-size: 12px;
        display: block;
    }
}
